#gameTrackerTop {
  display: grid;
  grid-template-columns: auto 250px;
  background-color: #eeeeee;
  padding-top: 10px;
}
#gameTrackerTop #gameInformation {
  display: none;
}
#gameTrackerTop.popup {
  position: sticky;
  top: 0px;
  z-index: 10000;
}
#gameTrackerTop.popup #gameInformation {
  display: block;
}
#gamesIcons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  padding: 5px;
}
#gamesIcons img {
  border: 0px;
  transition: transform 0.2s;
  margin: 0px;
  filter: opacity(1);
  z-index: 1;
  position: relative;
  cursor: pointer;
}
#gamesIcons .gameIcon:hover {
  outline: 2px solid black;
  z-index: 10;
}
div.gameIcon {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
div.gameIcon.imgMissing {
  padding-top: calc(100% - 2px);
}
div.gameIcon.imgMissing.iconPlayed {
  padding-top: calc(100% - 20px);
}
div.gameIcon.imgMissing.iconCompleted {
  padding-top: calc(100% - 20px);
}
div.gameIcon.iconPlayed {
  border: 10px solid #b890cf;
  filter: opacity(1) !important;
}
div.gameIcon.iconCompleted {
  border: 10px solid #65218d;
  filter: opacity(1) !important;
}
div.gameIconTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  font-size: 10px;
}
#gamesIcons.oneRow {
  grid-template-columns: repeat(auto-fit, 100px);
}
#gamesIcons.gamePicked .gameIcon {
  filter: opacity(0.3);
}
#gamesIcons.gamePicked .gameIcon.picked {
  filter: opacity(1);
  transform: scale(1.1);
  z-index: 20;
  outline: 2px solid black;
}
.yearTable {
  width: auto;
  max-width: 100%;
  top: 0px;
  background-color: #eeeeee;
  border-spacing: 1px;
  margin-bottom: 10px;
}
.yearTable td:first-of-type {
  color: black;
  text-align: left;
}
.yearTable td {
  width: 20px;
  height: 20px;
  padding: 0px;
  font-size: 12px;
  color: white;
  text-align: center;
}
.yearTable td:hover {
  outline: 1px solid black;
}
.yearTable td.bigPlayed {
  background-color: #b890cf;
}
.yearTable td.bigCompleted {
  background-color: #65218d;
}
.yearTable.gamePicked td.bigPlayed {
  background-color: #b890cf;
  filter: opacity(0.2);
}
.yearTable.gamePicked td.bigCompleted {
  background-color: #65218d;
  filter: opacity(0.15);
}
.yearTable.gamePicked td._played {
  filter: opacity(1);
  background-color: #b890cf;
}
.yearTable.gamePicked td._completed {
  filter: opacity(1);
  background-color: #65218d;
}
.yearTable.gamePicked td.datePicked {
  filter: opacity(1);
}
.year {
  border: 2px solid black;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  transition: 0.1s;
  cursor: pointer;
}
.year:hover {
  background-color: #ccc;
}
.year.yearChosen {
  background-color: #b890cf;
}
.examples {
  text-align: center;
}
.examples .playedExample {
  display: inline-block;
  margin: 10px;
}
.examples .playedExample span {
  background-color: #b890cf;
  width: 30px;
  display: inline-block;
}
.examples .completedExample {
  display: inline-block;
  margin: 10px;
}
.examples .completedExample span {
  background-color: #65218d;
  width: 30px;
  display: inline-block;
}
#gameInformation {
  padding: 10px;
  text-align: center;
}
#gameInformation #gameImg {
  width: 200px;
  height: 200px;
  outline: 1px solid black;
  border: 0px;
  margin: 10px auto;
}
#gameInformation #gameName {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
}
#gameInformation #infoClose {
  display: none;
}
#gameTrackerTop.popup #infoClose {
  display: block;
  position: absolute;
  right: -13px;
  top: 29px;
  background-color: #572a72;
  color: white;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 100000;
}
#gameTrackerTop.popup #infoClose:hover {
  filter: brightness(1.5);
}
@media screen and (max-width: 800px) {
  #gameTrackerTop {
    grid-template-columns: auto;
    max-height: 95vh;
    overflow: auto;
  }
  #gameTrackerTop.popup {
    position: sticky;
    top: 10px;
    z-index: 10000;
    border: 1px solid black;
    padding: 5px;
  }
  #gameTrackerTop.popup #infoClose {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #572a72;
    color: white;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 100000;
  }
  #gameTrackerTop.popup #infoClose:hover {
    filter: brightness(1.5);
  }
  #gameTrackerTop.popup .yearTable {
    padding-bottom: 10px;
  }
  #gameTrackerTop.popup #gameInformation {
    grid-row-start: 1;
  }
}
@media screen and (max-width: 600px) {
  #gamesIcons {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  #gamesIcons.oneRow {
    grid-template-columns: repeat(auto-fit, 50px);
  }
}
.gameToo {
  display: inline-block;
  margin: 0px;
  border: 0px;
  padding: 0px 5px;
}
