---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<div class="textBox">
<h1>All the posts</h1>
<p>Please enjoy this look at all of the posts I've done. There sure are a lot. And I don't know how to make pagination work so it's a big old page. Sorry about that!</p> 
<p>Here to sort by tag</p>
</div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
