---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(10) %}

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}


{% include "postslist.njk" %}
<div class="textBox" style="text-align: center;"><a href="/posts/">View all posts</a></div>