<footer id="veizyFooter" class="textBox">
    <p>
        <span>© 2021 All rights reseved</span> | 
        <span>Built with <a href="https://www.11ty.dev/" target="_blank">11ty</a></span> | 
        <span>Based on <a href="https://github.com/11ty/eleventy-base-blog" target="_blank">eleventy-base-blog</a></span> | 
        <span><a href="https://github.com/superdrdood/veizy11ty/" target="_blank">superdrdood/veizy11ty</a> on github</span> | 
        <span>Hosted by <a href="https://www.netlify.com/" target="_blank">Netlify</a></span>
    </p>
</footer>