  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{% if title%} | {% endif %}VEIZY.COM</title>
    <meta name="description" content="{{ excerpt or metadata.description }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% if script %}
      {% for scripts in script %}
      <script src="{{ scripts | url | bust }}"></script>
      {% endfor %}
    {% endif %}

    {% if style %}
      {% for styles in style %}
      <link href="{{ styles | url | bust }}" rel="stylesheet">
      {% endfor %}
    {% endif %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68148374-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-68148374-1');
    </script>
  <script src="{{ '/js/veizy.js' | url | bust }}"></script>
	<link href="{{ '/css/veizy.css' | url | bust }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  </head>