

{% for post in postslist | reverse %}


			
				<article class="textBox articleBox">
					<a href="{{ post.url | url }}" class="titleImg" style='background-image:url({% if post.data.coverImage %} {% image "./" + post.url + "images/" + post.data.coverImage, "photo of my cat" %}{% endif %})'></a>
					<div class="titleText">						
						<h2 class="articleTitle"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
						    <div class="postTitleLittle">

							<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
							{%- for tag in post.data.tags | filterTagList -%}
							{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
							&nbsp;/ <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
							{%- endfor %}
							</div>

						<p>{{ post.data.excerpt }}</p>
						<p class="readMore"><a href="{{ post.url | url }}">Read more</a></p>
					</div>
				</article>
			

      {% endfor %}