body {
  background: repeating-linear-gradient(45deg, #1a0228, #1a0228 10px, #2a003f 10px, #2a003f 20px);
  padding: 20px;
}
body a {
  text-decoration: none;
  color: #ac85c3;
}
body p,
body ul li {
  font-family: 'Noto Serif', serif;
  font-size: 20x;
}
body h1,
body h2,
body h3 {
  font-family: 'Lilita One', cursive;
  font-weight: normal;
  margin: 0px;
  text-shadow: 2px 2px #ac85c3;
  line-height: 1.15;
}
body ul,
body ol {
  margin: 0 0 1.5em 1.5em;
}
h3 a {
  color: #1a0228 !important;
}
#page {
  max-width: 1200px;
  margin: 0 auto;
}
.textbox {
  background-color: #eeeeee;
  margin: 0 auto;
  color: #1a0228;
  box-shadow: 10px 10px #572a72;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.articleBox {
  display: flex;
  padding: 0px;
  transition: transform 0.2s ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  flex-direction: row;
}
.articleBox:hover {
  transform: scale(1.02);
}
.articleBox:hover .titleImg {
  filter: grayscale(0%);
}
a:nth-child(even) .articleBox {
  flex-direction: row-reverse;
}
.titleImg {
  width: 50%;
  line-height: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25%;
  background-position: center;
  position: relative;
  filter: grayscale(50%);
  transition: filter 0.2s linear;
}
.titleText {
  width: 50%;
  padding: 10px;
}
.articleTitle {
  margin-bottom: 10px;
}
.textbox h1 {
  font-size: 2.5em;
}
.textbox h2 {
  text-shadow: 2px 2px #ac85c3;
  font-size: 2em;
}
.textbox p {
  font-size: 1em;
  margin: 1em 0em;
}
article.textbox h2 {
  display: inline-block;
}
article.textbox h3 {
  display: inline-block;
}
.asideBox {
  float: right;
  background-color: #ddd;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 400px;
  box-shadow: 10px 10px #572a72;
}
.textbox h3 {
  margin: 0px;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.entry-content a {
  font-weight: bold;
}
.textbox a:hover {
  text-decoration: underline;
  color: initial;
}
article.textbox {
  padding: 0px;
}
header.entry-header {
  max-height: 600px;
  height: 48vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.titleBox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.titleBox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.titleBox h1 {
  background-color: #eeeeee;
  display: inline;
  padding: 10px;
  line-height: 1.3;
}
.entry-meta {
  background-color: #eeeeee;
  display: inline-block;
  margin: 15px 0px 10px 0px;
  padding: 10px;
}
.tag::after {
  content: " / ";
}
.tag:last-of-type::after {
  content: "";
}
.newer {
  max-width: 40%;
  float: right;
  transition: transform 0.2s ease-in-out;
  text-align: right;
}
.older {
  max-width: 40%;
  float: left;
  transition: transform 0.2s ease-in-out;
  text-align: left;
}
.newer:hover {
  transform: scale(1.05);
}
.older:hover {
  transform: scale(1.05);
}
#page h1 a,
#page h2 a {
  text-decoration: none;
  color: #1a0228;
}
.entry-content {
  margin: 0px;
  padding: 10px;
}
.mobile-entry-header {
  display: none;
}
.entry-meta-mobile a {
  font-weight: normal;
}
.entry-meta-mobile {
  padding-top: 15px;
}
.entry-content img {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
.entry-content .wp-video {
  margin: 0 auto;
  outline: 2px solid black;
}
@media only screen and (max-width: 400px) {
  .textbox h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding: 5px;
    padding-right: 15px;
  }
  .articleBox {
    flex-direction: column !important;
  }
  .titleImg {
    width: 100%;
    padding-top: 50%;
  }
  .titleText {
    width: 100%;
  }
  .titlecontent {
    display: none;
  }
  .mobile-entry-header {
    display: block;
  }
  .asideBox {
    float: none;
    max-width: 100%;
  }
}
.page-header {
  padding: 10px;
}
.veizyPage {
  max-width: 1200px;
}
