<!doctype html>
<html lang="en">
  {% include "header.njk" %}
  <body>
    <div class="veizyPage">
      <header id="veizyHead" class="textBox">
        <h1><a href="/">VEIZY.COM</a></h1>
	    </header>

    <main>


      {{ content | safe }}







    </main>

    {% include "footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->

  </div>


  </body>
</html>
