<!doctype html>
<html lang="en">
  {% include "header.njk" %}
  <body>
    <div class="veizyPage">
      <header id="veizyHead" class="textBox">
        <h1><a href="/">VEIZY.COM</a></h1><div id="showNav">&#9660;</div>
          <ul class="headLinks">
            <li class="headBlock"><a href="/video-game-tracker/">Video Game Tracker</a></li>
            <li class="headBlock"><a href="/kanji-progress-tracker/">漢字</a></li>
            <li class="headBlock"><a href="/posts/">Archives</a></li>
          </ul>
          
	    </header>

    <main>

      {{ content | safe }}


    </main>
    {% include "footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->

  </div>

  </body>
</html>
