---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="textBox">

<header class="postHead">
  <div class="postHeadImg"  style="background-image:url({{url}}images/{{coverImage}})"></div>
  <div class="postTitleContainer">
    <div class="postTitleInfo">

    <h1>{{ title }}</h1>

    <div style="clear:both;"></div>

    <div class="postTitleLittle">

      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      &nbsp;/ <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endfor %}
      </div>

    </div>
  </div>

</header>




{{ content | safe }}














</div>


{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if previousPost or nextPost %}

<div class="nextPrevious">

{%- if previousPost %}
<a href="{{ previousPost.url | url }}">
  <div class="textBox older">
    <strong>Older:</strong> {{ previousPost.data.title }}
  </div>
</a>
{% endif %}

{%- if nextPost %}
<a href="{{ nextPost.url | url }}">
  <div class="textBox newer">
    <strong>Newer:</strong> {{ nextPost.data.title }}
  </div>
</a>
{% endif %}

</div>


{% endif %}